# Supabase Configuration
# احصل على هذه القيم من: https://app.supabase.com/project/_/settings/api

VITE_SUPABASE_URL=https://dkhfmevwxnbeofpikwmf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6s9uiFeTYluejT1fjsm0Eg_IgeoDQts
